/*
 * Custom CSS Style
 */
@font-face {
  font-family: "dripicons";
  src: url("fonts/dripicons.eot");
  src: url("fonts/dripicons.eot?#iefix") format("embedded-opentype"), url("fonts/dripicons.woff") format("woff"), url("fonts/dripicons.ttf") format("truetype"), url("fonts/dripicons.svg#dripicons") format("svg"); }
@font-face {
  font-family: "fontawesome";
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg#FontAwesome") format("svg"); }
@font-face {
  font-family: 'lato-regular';
  src: url("fonts/Lato-Regular.eot");
  src: url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.svg") format("svg");
  src: url("fonts/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "lato-black";
  src: url("fonts/Lato-Black.ttf") format("truetype"); }
@font-face {
  font-family: "lato-bold";
  src: url("fonts/Lato-Bold.ttf") format("truetype"); }
html {
  -ms-overflow-style: scrollbar; }

body, html, .container-fluid, .container {
  height: 100%;
  min-width: 950px; }

body {
  font-family: 'lato-regular', Arial, sans-serif;
  background: rgba(30, 91, 153, 0.1); }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'lato-regular', Arial, sans-serif; }

span.dripicons {
  font-family: dripicons; }

span.fontawesome {
  font-family: fontawesome; }

.latoblack {
  font-family: latoblack; }

/* style for Notecard tabletop */
.table {
  margin-bottom: 5px;
  font-size: 13px; }

.fl {
  float: left; }

label {
  font-weight: normal;
  margin-bottom: 0px !important; }

textarea {
  resize: none; }

input[type="file"] {
  display: inline; }

/*	Template - Login	*/
#body{
	background-image: url("../_images/butterfly-swimmers.jpg");
	background-repeat: round;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

#container-header{
	height: 7%;
	background-color: #121f1f;
}

#container-footer{
	height: 6%;
	background-color: #121f1f;
}

.marginBottom5{
	margin-bottom: 5px;
}

.marginBottom10{
	margin-bottom: 10px;
}

.container{
	border: 0px solid red;
	padding: 5%;
	background: -webkit-radial-gradient(center, #FFF -100%,rgba(260,178,103,0) 100%,rgba(255,255,255,0) 100%);
    color: #fff !important;
    height: 87%;
}

#containerLoginRegister #contLet, #containerLoginRegister #contRight{
	border: 0px solid blue;
	width: 45%;
	height: 100%;
	float: left;
}

#containerLoginRegister .inputText{
	display: block;
	width: 100%;
    height: 34px;
    padding: 2px 11px;
    border: 0px;
    border-radius: 2px;
    background-color: rgba(250, 255, 199, 1);
    margin-bottom: 10px;
}

#containerLoginRegister h1{
	font-weight: bold;
    font-size: 24px;
}

#containerLoginRegister a{
	color: #fff !important;
    font-size: 11px;
    text-decoration: underline;
}

#containerLogin, #containerRegister{
	
}

#linkForgotPassword{
	float: right;
}

.centerContent{
	width: 10%;
	border: 0px solid red;
	float: left;
	text-align: center;
}

.big_button {
    background-color: #111344;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    font-size: 13px;
    font-family: Arial,Verdana,sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 34px;
    margin: 5px 0;
}

.loginSeperator {
    border-left: 1px dotted #fff;
    width: 1px;
    height: 500px;
    text-align: center;
    display: inline-block;
}

#logo{
	border: 0px solid red;
	width: 110px;
    padding-top: 5px;
    margin-left: 12px;
    display: inline-block; 
    float: left;
}

#logo img{
	width: 70px !important;
}

.border{
	border: 0px solid white;
}

.headerTopMenu{
	display: inline-block;
    margin-top: 17px;
    margin-right: 40px;
    color: #fff;
}

.headerTopMenu a{
	color: #fff;
}

 .headerMenuSpacer{
 	margin: 0px 10px;
 }
 
label.error{
 	display: block;
 	color: #95ff20;
 	font-style: italic;
 	margin-top: -10px;
 }